*{
    font-family: 'VT323', monospace;
}

body{
    margin: 0;
    background-image: url('./images/6.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: move linear 2000ms infinite; 
    color:navy;
    font-size: 90px;
    letter-spacing: 15px;
    margin-top: 5%;
}

#main2{
    text-align: center;
    font-size: 60px;
    margin:0;
    padding-top: 5px;
    color:navy;
    animation: move linear 2000ms infinite;  
}

#padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#c1{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#c1 h3{
    align-self: center;
    font-size: 30px;
    margin-bottom: 0;
    color:brown;
}

img{
    border-radius: 5px;
    height: 80px;
    align-self: center;
    margin-bottom: 10px;
}

#canvas1{
    border: 3px solid black;
    margin: 1%;
    align-self: center;
}

#c2{
    display: flex;
    flex-direction: column;
    width:50%;
}

#c2 h3{
    align-self: center;
    font-size: 30px;
    margin-bottom: 0;
    color: green;
}

#canvas2{
    border: 3px solid black;
    margin: 1%;
    align-self: center;
}

#t{
    color:black;
}

#time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    height: 550px;
    justify-content: space-around;
}

#time p:first-child{
    font-size: 30px;
    margin-bottom: 10px;
    color:red;
    text-transform: uppercase;
}

#time p{
    margin:0;
    font-size: 25px;
}

#timer{
    text-align: center;
    font-weight: bold;
}

#over{
    font-size: 50px !important;
    text-align: center;
    font-weight: bold;
    margin:0;
    margin-top: 15px;
    color:navy;
    text-transform: uppercase;
}

#enter{
    text-align: center;
    font-size: 30px !important;
    animation-name: parpadeo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin:0;
}

#winner{
    font-size: 50px !important;
    text-align: center;
    animation: move linear 2000ms infinite; 
    margin: 2px; 
}
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes move {
    0% {
      text-shadow:
        4px -4px 0 rgb(255, 30, 0), 
        3px -3px 0 rgb(255, 30, 0), 
        2px -2px 0 rgb(255, 30, 0), 
        1px -1px 0 rgb(255, 30, 0),
        -4px 4px 0 rgb(255, 238, 0), 
        -3px 3px 0 rgb(255, 238, 0), 
        -2px 2px 0 rgb(255, 238, 0), 
        -1px 1px 0 rgb(255, 238, 0)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 rgb(255, 30, 0), 
        -3px -3px 0 rgb(255, 38, 0), 
        -2px -2px 0 rgb(255, 17, 0), 
        -1px -1px 0 rgb(255, 0, 0),
        4px 4px 0 rgb(255, 238, 0), 
        3px 3px 0 rgb(255, 238, 0), 
        2px 2px 0 rgb(255, 238, 0), 
        1px 1px 0 rgb(255, 238, 0)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 rgb(255, 30, 0), 
        -3px 3px 0 rgb(255, 30, 0), 
        -2px 2px 0 rgb(255, 30, 0), 
        -1px 1px 0 rgb(255, 30, 0),
        4px -4px 0 rgb(255, 238, 0), 
        3px -3px 0 rgb(255, 238, 0), 
        2px -2px 0 rgb(255, 238, 0), 
        1px -1px 0 rgb(255, 238, 0)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 rgb(255, 238, 0), 
        3px 3px 0 rgb(255, 238, 0), 
        2px 2px 0 rgb(255, 238, 0), 
        1px 1px 0 rgb(255, 238, 0),
        -4px -4px 0 rgb(255, 30, 0), 
        -3px -3px 0 rgb(255, 30, 0), 
        -2px -2px 0 rgb(255, 30, 0), 
        -1px -1px 0 rgb(255, 30, 0)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 rgb(255, 30, 0), 
        3px -3px 0 rgb(255, 30, 0), 
        2px -2px 0 rgb(255, 30, 0), 
        1px -1px 0 rgb(255, 30, 0),
        -4px 4px 0 rgb(255, 238, 0), 
        -3px 3px 0 rgb(255, 238, 0), 
        -2px 2px 0 rgb(255, 238, 0), 
        -1px 1px 0 rgb(255, 238, 0)
      ;
    }  
  }
  
 #players{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10%;
    margin-top: 7%;  
 }
  
 .c{
    border: 3px solid black;
    background-color: dodgerblue;
    font-size: 70px;
    text-align: center;
    padding: 20px;
    margin: 10%;
    border-radius: 15px;
    box-shadow: 0 10px 2px rgba(0,0,0,.2);
    
 }

 .c a{
    text-decoration: none;
    color:white;
    
 }

 .c:hover{
    background-color:navy;
    border-bottom: 4px solid black; 
    border-top: 4px solid black; 
    border-right: 4px solid black; 
    border-left: 4px solid black; 
    cursor:pointer;
 }

 #title{
     padding:30px;
 }

 #padreOne{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 #mainOne{
    text-align: center;
    font-size: 60px;
    margin:30px;
    padding-top: 5px;
    color:navy;
    animation: move linear 2000ms infinite;  
 }

 #canvasUnico{
    border: 3px solid black;
    margin: 5%;
    align-self: center;
 }

 #time2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    height: 550px;
    justify-content: space-around;
    margin: 10px;
}

#time2 p:first-child{
    font-size: 30px;
    margin-bottom: 10px;
    color:red;
    text-transform: uppercase;
}

#time2 p{
    margin:0;
    font-size: 25px;
}

#cOne{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#cOne h3{
    align-self: center;
    font-size: 30px;
    margin-bottom: 0;
    color:brown;
}