*{
    font-family: 'VT323', monospace;
}

body{
    margin: 0;
    background-image: url('./images/cart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color:rgb(245, 245, 127);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color:black;
    font-size: 40px;
    letter-spacing: 15px;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#c1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
}

#canvas1{
    border: 1px solid black;
    margin: 1%;
}

#c2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:50%;
}

#canvas2{
    border: 1px solid black;
    margin: 1%;
}

#time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
}

#timer{
    text-align: center;
    font-weight: bold;
}

#over{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#enter{
    font-size: 30px;
    animation-name: parpadeo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#winner{
    font-size: 70px;
    text-align: center;
    animation: move linear 2000ms infinite;  
}
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes move {
    0% {
      text-shadow:
        4px -4px 0 rgb(255, 30, 0), 
        3px -3px 0 rgb(255, 30, 0), 
        2px -2px 0 rgb(255, 30, 0), 
        1px -1px 0 rgb(255, 30, 0),
        -4px 4px 0 rgb(255, 238, 0), 
        -3px 3px 0 rgb(255, 238, 0), 
        -2px 2px 0 rgb(255, 238, 0), 
        -1px 1px 0 rgb(255, 238, 0)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 rgb(255, 30, 0), 
        -3px -3px 0 rgb(255, 38, 0), 
        -2px -2px 0 rgb(255, 17, 0), 
        -1px -1px 0 rgb(255, 0, 0),
        4px 4px 0 rgb(255, 238, 0), 
        3px 3px 0 rgb(255, 238, 0), 
        2px 2px 0 rgb(255, 238, 0), 
        1px 1px 0 rgb(255, 238, 0)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 rgb(255, 30, 0), 
        -3px 3px 0 rgb(255, 30, 0), 
        -2px 2px 0 rgb(255, 30, 0), 
        -1px 1px 0 rgb(255, 30, 0),
        4px -4px 0 rgb(255, 238, 0), 
        3px -3px 0 rgb(255, 238, 0), 
        2px -2px 0 rgb(255, 238, 0), 
        1px -1px 0 rgb(255, 238, 0)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 rgb(255, 238, 0), 
        3px 3px 0 rgb(255, 238, 0), 
        2px 2px 0 rgb(255, 238, 0), 
        1px 1px 0 rgb(255, 238, 0),
        -4px -4px 0 rgb(255, 30, 0), 
        -3px -3px 0 rgb(255, 30, 0), 
        -2px -2px 0 rgb(255, 30, 0), 
        -1px -1px 0 rgb(255, 30, 0)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 rgb(255, 30, 0), 
        3px -3px 0 rgb(255, 30, 0), 
        2px -2px 0 rgb(255, 30, 0), 
        1px -1px 0 rgb(255, 30, 0),
        -4px 4px 0 rgb(255, 238, 0), 
        -3px 3px 0 rgb(255, 238, 0), 
        -2px 2px 0 rgb(255, 238, 0), 
        -1px 1px 0 rgb(255, 238, 0)
      ;
    }  
  }
  
 